/* styles.css */
/* h1 {
    font-family: Arial, sans-serif;
    color: #FF9EC0
  }
  
p {
    font-family: Verdana, sans-serif;
  }

body {
        background-color: #0000; /* Main page background color */
    /* }
    .sidebar .sidebar-content {
        background-color: #010F; /* Sidebar background color */
    /* }  */
